footer {
	min-height: 70px;
    margin-top: 8px;
    background-color: #F8F9FA !important;
    position: fixed;
    bottom: 0;
	p {
        font-size: 15px;
		text-align: center;
        color:#3f3f3f;
	}
}
